
*{
    border:0px solid black;
}
body
{
    margin:0;
    padding:0;
    box-sizing: border-box;

}
.header_main_div
{
    display:flex;
    justify-content: space-between;
    font-size:1.2rem;
    margin:15px;
    
}
.site_name
{   display:flex;
    flex-grow:1;
    align-items:center;
    justify-content: center;
     /* works horizontally */
    font-family:'Samarkan';
    font-size:2rem;


   
}
.site_name>.first_name
{
    font-family:'Samarkan';
    color:#82adc9;
}
.navigation_bar
{
    display:flex;
    
    justify-content:space-evenly;
    align-items: center; 
    /* works vertically */
    flex-grow:1;
}
.login_signup
{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow:1;
   
}

                        /*EOS*/

.header_strip
{
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    background-color: black;
    color:white;

}

.header_strip>.slogan
{
    display: flex;
    font-size:1.4rem;
    flex-direction: column;    
}

.header_strip>.slogan>.second_line
{
    color:#82adc9;
}

.header_strip>.mind_picture>img
{
    width:100px;
    height:100px;
    border-radius:50%;
    
}


.header_strip>.info
{
    display:flex;
    justify-content: space-evenly;
    align-items:center;
    flex-grow: 0.2;
}

                        /* EOS */

.first_section>.first_article img
{
    width:600px;
    height:400px;
}

.first_section>.second_article img
{
    width:250px;
    height:170px;
}

.first_section
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.7rem;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;  
    margin:5px;

}
.first_section .first_article .article_info
{
    display:flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
.first_section .first_article .article_info .title
{
    color:#b9c6f3;
    
    
}
.first_section .first_article .article_info .author_name
{
    font-size: 1.4rem;
    font-weight: bold;
    align-self: center;
    

}

.second_article .box
{
    background-color: #b9c6f3;
    width:300px;
    height:400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color:white;
}

.second_article .box .article_info
{
    display:flex;
    flex-direction: column;
    font-size:1.5rem;
    align-items: center;
    justify-content: space-evenly;
    flex-grow:0.3;
    text-align:center;
   
    
}

.first_section button
{
    font-size:1.5rem;
    font-style: italic;
    font-weight: bold;  
    font-family: 'Times New Roman', Times, serif;
}